p {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

.centre-horizontal {
	text-align: center;
	margin: auto;
}

.bar {
	height: 50px;
	width: 90%;
	background-color: #ededed;
	border-radius: 25px;
}

.green {
	color: #fff;
	background-color: #41AF60
}

.light-grey {
	color: #000
	background-color: #f1f1f1
}